Integration Airtable with google calendar.blueprint.json
{
    "name": "Integration Airtable with google calendar",
    "flow": [
        {
            "id": 3,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "appyACY2DHyD0V7ZB",
                "view": "",
                "table": "tblKuRF4aOolDN7mg",
                "config": {
                    "labelField": "Lead Name",
                    "triggerField": "Created on"
                },
                "formula": "{Qualified}= qualified",
                "maxRecords": 10,
                "__IMTCONN__": 9616769,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150,
                    "name": "Airtable / Google sheets"
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "Lead Generation & Tracking"
                        },
                        "view": {
                            "label": "Empty"
                        },
                        "table": {
                            "label": "Leads"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "Lead Name"
                                },
                                "triggerField": {
                                    "label": "Created on"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Lead Name",
                        "type": "text",
                        "label": "Lead Name"
                    },
                    {
                        "name": "Contact Email",
                        "type": "text",
                        "label": "Contact Email"
                    },
                    {
                        "name": "Phone Number",
                        "type": "text",
                        "label": "Phone Number"
                    },
                    {
                        "name": "Budget",
                        "type": "number",
                        "label": "Budget"
                    },
                    {
                        "name": "Qualified",
                        "type": "text",
                        "label": "Qualified"
                    },
                    {
                        "name": "Created on",
                        "type": "date",
                        "label": "Created on"
                    },
                    {
                        "name": "Other info",
                        "type": "text",
                        "label": "Other info",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "google-calendar:searchEvents",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 9082701
            },
            "mapper": {
                "limit": "10",
                "orderBy": "startTime",
                "timeMin": "{{Now}}",
                "calendar": "classroom110255260038709694597@group.calendar.google.com",
                "singleEvents": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "orderBy": {
                            "mode": "chose",
                            "label": "Start Time (ascending)"
                        },
                        "calendar": {
                            "mode": "chose",
                            "label": "Prashanth"
                        },
                        "eventTypes": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (prashanthsambharaju2988@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "calendar",
                        "type": "select",
                        "label": "Calendar ID",
                        "required": true
                    },
                    {
                        "name": "timeMin",
                        "time": true,
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "timeMax",
                        "time": true,
                        "type": "date",
                        "label": "End Date"
                    },
                    {
                        "name": "updatedMin",
                        "time": true,
                        "type": "date",
                        "label": "Updated from"
                    },
                    {
                        "name": "singleEvents",
                        "type": "boolean",
                        "label": "Single Events",
                        "required": true
                    },
                    {
                        "name": "q",
                        "type": "text",
                        "label": "Query"
                    },
                    {
                        "name": "eventTypes",
                        "type": "select",
                        "label": "Event Types",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "default",
                                "fromGmail",
                                "focusTime",
                                "outOfOffice",
                                "workingLocation"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order By",
                        "validate": {
                            "enum": [
                                "startTime",
                                "updated"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "vapi:getCall",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 10070849
            },
            "mapper": {
                "id": "ab86a91a-7b1e-48d6-b221-283334cf7703"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "Voice Agent"
                },
                "restore": {
                    "expect": {
                        "id": {
                            "mode": "chose",
                            "label": "ab86a91a-7b1e-48d6-b221-283334cf7703"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "vapi"
                            },
                            "label": "My Vapi connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:vapi",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "select",
                        "label": "Call ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "300"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 0
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "filter": {
                                "name": "Status ",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{7.status}}=completed",
                                            "b": "true",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 5,
                                            "module": "google-email:sendAnEmail",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 10365171
                                            },
                                            "mapper": {
                                                "to": [
                                                    {
                                                        "name": "{{3.`Lead Name`}}",
                                                        "email": "{{3.`Contact Email`}}"
                                                    }
                                                ],
                                                "subject": "The meeting has been scheduled",
                                                "bodyType": "collection",
                                                "contents": [
                                                    {
                                                        "text": "{{7.assistantOverrides.voicemailMessage}}",
                                                        "image": {}
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "cc": {
                                                            "mode": "chose"
                                                        },
                                                        "to": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "bcc": {
                                                            "mode": "chose"
                                                        },
                                                        "from": {
                                                            "mode": "chose"
                                                        },
                                                        "bodyType": {
                                                            "label": "Collection of contents (text, images, etc.)"
                                                        },
                                                        "contents": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "signature": {
                                                            "mode": "chose"
                                                        },
                                                        "attachments": {
                                                            "mode": "chose"
                                                        },
                                                        "emailHeaders": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google-email"
                                                            },
                                                            "label": "My Gmail connection (prashanthsambharaju2988@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google-email",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "From"
                                                    },
                                                    {
                                                        "name": "to",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "email",
                                                                    "label": "Recipient email address",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "name": "name",
                                                                    "type": "text",
                                                                    "label": "Recipient name"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Recipient"
                                                        },
                                                        "type": "array",
                                                        "label": "To",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "emailHeaders",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "key",
                                                                    "type": "text",
                                                                    "label": "Key",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Value"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Email header"
                                                        },
                                                        "type": "array",
                                                        "label": "Additional email headers"
                                                    },
                                                    {
                                                        "name": "subject",
                                                        "type": "text",
                                                        "label": "Subject"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "rawHtml",
                                                                "collection"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "attachments",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "filename",
                                                                    "type": "filename",
                                                                    "label": "File name",
                                                                    "required": true,
                                                                    "semantic": "file:name"
                                                                },
                                                                {
                                                                    "name": "data",
                                                                    "type": "buffer",
                                                                    "label": "Data",
                                                                    "required": true,
                                                                    "semantic": "file:data"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Attachment"
                                                        },
                                                        "type": "array",
                                                        "label": "Attachments"
                                                    },
                                                    {
                                                        "name": "cc",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "email",
                                                                    "label": "Recipient email address",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "name": "name",
                                                                    "type": "text",
                                                                    "label": "Recipient name"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Cc recipient"
                                                        },
                                                        "type": "array",
                                                        "label": "Cc recipients"
                                                    },
                                                    {
                                                        "name": "bcc",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "email",
                                                                    "label": "Recipient email address",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "name": "name",
                                                                    "type": "text",
                                                                    "label": "Recipient name"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Bcc recipient"
                                                        },
                                                        "type": "array",
                                                        "label": "Bcc recipients"
                                                    },
                                                    {
                                                        "name": "contents",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "text",
                                                                    "type": "text",
                                                                    "label": "Text"
                                                                },
                                                                {
                                                                    "name": "image",
                                                                    "spec": [
                                                                        {
                                                                            "name": "filename",
                                                                            "type": "filename",
                                                                            "label": "File name",
                                                                            "semantic": "file:name"
                                                                        },
                                                                        {
                                                                            "name": "data",
                                                                            "type": "buffer",
                                                                            "label": "Data",
                                                                            "semantic": "file:data"
                                                                        },
                                                                        {
                                                                            "name": "width",
                                                                            "type": "uinteger",
                                                                            "label": "Width"
                                                                        },
                                                                        {
                                                                            "name": "height",
                                                                            "type": "uinteger",
                                                                            "label": "Height"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Image"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Content"
                                                        },
                                                        "type": "array",
                                                        "label": "Body contents"
                                                    },
                                                    {
                                                        "name": "signature",
                                                        "type": "select",
                                                        "label": "Signature content"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 12,
                                            "module": "airtable:ActionUpdateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 9616769
                                            },
                                            "mapper": {
                                                "id": "{{3.id}}",
                                                "base": "appyACY2DHyD0V7ZB",
                                                "table": "tblKuRF4aOolDN7mg",
                                                "record": {
                                                    "fldEAxk9AwnleQykO": "{{7.status}}{{7.messages}}"
                                                },
                                                "typecast": true,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "label": "Lead Generation & Tracking"
                                                        },
                                                        "table": {
                                                            "label": "Leads"
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            },
                                                            "label": "My Airtable Token or Key connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "Record ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "record",
                                                        "spec": [
                                                            {
                                                                "name": "fldQuXn0ZlxsSjiT0",
                                                                "type": "text",
                                                                "label": "Lead Name"
                                                            },
                                                            {
                                                                "name": "fldKdiO9ahgC7FzjS",
                                                                "type": "text",
                                                                "label": "Contact Email"
                                                            },
                                                            {
                                                                "name": "fldtIZsfoskZWg3L7",
                                                                "type": "text",
                                                                "label": "Phone Number"
                                                            },
                                                            {
                                                                "name": "fldBOTeRJJX0N3L1O",
                                                                "type": "number",
                                                                "label": "Budget"
                                                            },
                                                            {
                                                                "name": "fldLbw9OSPa4ZtE1E",
                                                                "type": "text",
                                                                "label": "Qualified"
                                                            },
                                                            {
                                                                "name": "fldEAxk9AwnleQykO",
                                                                "type": "text",
                                                                "label": "Other info"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Lead Name",
                                                        "type": "text",
                                                        "label": "Lead Name"
                                                    },
                                                    {
                                                        "name": "Contact Email",
                                                        "type": "text",
                                                        "label": "Contact Email"
                                                    },
                                                    {
                                                        "name": "Phone Number",
                                                        "type": "text",
                                                        "label": "Phone Number"
                                                    },
                                                    {
                                                        "name": "Budget",
                                                        "type": "number",
                                                        "label": "Budget"
                                                    },
                                                    {
                                                        "name": "Qualified",
                                                        "type": "text",
                                                        "label": "Qualified"
                                                    },
                                                    {
                                                        "name": "Created on",
                                                        "type": "date",
                                                        "label": "Created on"
                                                    },
                                                    {
                                                        "name": "Other info",
                                                        "type": "text",
                                                        "label": "Other info",
                                                        "multiline": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 13,
                                            "module": "regexp:HTMLToText",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "html": "{{7.assistantOverrides.voicemailMessage}}",
                                                "newline": "lf",
                                                "uppercaseHeadings": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "newline": {
                                                            "label": "LF (\\n) - Unix/Mac OS X"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "html",
                                                        "type": "text",
                                                        "label": "HTML"
                                                    },
                                                    {
                                                        "name": "newline",
                                                        "type": "select",
                                                        "label": "Line break",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "lf",
                                                                "crlf",
                                                                "cr"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "uppercaseHeadings",
                                                        "type": "boolean",
                                                        "label": "Uppercase headings",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 6,
                                            "module": "slack:CreateMessage",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 9617994
                                            },
                                            "mapper": {
                                                "text": "{{3.`Other info`}}",
                                                "parse": false,
                                                "mrkdwn": true,
                                                "channel": "C091J5UNQ87",
                                                "channelType": "public",
                                                "channelWType": "list"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "parse": {
                                                            "mode": "chose"
                                                        },
                                                        "mrkdwn": {
                                                            "mode": "chose"
                                                        },
                                                        "channel": {
                                                            "mode": "chose",
                                                            "label": "all-new-workspace"
                                                        },
                                                        "link_names": {
                                                            "mode": "chose"
                                                        },
                                                        "channelType": {
                                                            "label": "Public channel"
                                                        },
                                                        "channelWType": {
                                                            "label": "Select from the list"
                                                        },
                                                        "unfurl_links": {
                                                            "mode": "chose"
                                                        },
                                                        "unfurl_media": {
                                                            "mode": "chose"
                                                        },
                                                        "reply_broadcast": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "slack3"
                                                            },
                                                            "label": "My Slack (bot) connection to make (newworkspace-fix1870.slack.com - make)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:slack2,slack3",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "channelWType",
                                                        "type": "select",
                                                        "label": "Enter a channel ID or name",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "manualy",
                                                                "list"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "blocks",
                                                        "type": "text",
                                                        "label": "Blocks"
                                                    },
                                                    {
                                                        "name": "thread_ts",
                                                        "type": "text",
                                                        "label": "Thread message ID (time stamp)"
                                                    },
                                                    {
                                                        "name": "reply_broadcast",
                                                        "type": "boolean",
                                                        "label": "Reply broadcast"
                                                    },
                                                    {
                                                        "name": "link_names",
                                                        "type": "boolean",
                                                        "label": "Link names"
                                                    },
                                                    {
                                                        "name": "parse",
                                                        "type": "boolean",
                                                        "label": "Parse message text"
                                                    },
                                                    {
                                                        "name": "mrkdwn",
                                                        "type": "boolean",
                                                        "label": "Use markdown"
                                                    },
                                                    {
                                                        "name": "unfurl_links",
                                                        "type": "boolean",
                                                        "label": "Unfurl primarily text-based content"
                                                    },
                                                    {
                                                        "name": "unfurl_media",
                                                        "type": "boolean",
                                                        "label": "Unfurl media content"
                                                    },
                                                    {
                                                        "name": "icon_emoji",
                                                        "type": "text",
                                                        "label": "Icon emoji"
                                                    },
                                                    {
                                                        "name": "icon_url",
                                                        "type": "url",
                                                        "label": "Icon url"
                                                    },
                                                    {
                                                        "name": "username",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "channelType",
                                                        "type": "select",
                                                        "label": "Channel type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "public",
                                                                "private",
                                                                "im",
                                                                "mpim"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "channel",
                                                        "type": "select",
                                                        "label": "Public channel",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}